
html, body {
    margin : 0;
    padding : 0;
}

/*-------------------------------Navbar-------------------------------*/
.navbar{
    background-color: rgba(125,125,125,1);
    width: 100%;
    height: 75px;
    line-height: 75px;
}
.n-left{
    float: left;
}
.n-right{
    float: right;
}
.logo{
    color: white;
    text-transform: uppercase ;
    font-weight: 900;
    font-size: 25px;
    text-decoration: none;
}
.n-link{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: 400;
    padding: 0;margin: 0 15px;
    transition: all 0.3 ease-in-out;
    border-bottom: 2px solid transparent;
}
.n-link:hover{
    border-color: #000;
    padding-bottom: 3px;
}
.navbar .menu-hamburger{
    display: none;
    position: absolute;
    top: 20px;
    right: 50px;
    width: 35px;
}
@media only screen and (max-width:1250px){
    .navbar .menu-hamburger{
        display: block;
    }
    .n-right{
        position: absolute;
        background-color: rgba(125,125,125, 0.25);
        backdrop-filter: blur(7px);
        width: 100%;
        height: 100%;
        align-items: center;
        display:flex;
        justify-content: center;
        flex-direction: column;
        margin-left: -100%;
    }
    .n-right.mobile-menu{
        margin-left: 0;
        transition: all 0.5s ease;
    }
    .n-link:hover{
        color: white;
        font-size: 1rem;
    }
    .n-left{
        position: absolute;
    }
    p{
        text-align: center;
        margin: 50px;
    }
}

/*-----------------------------FIN-Navbar-----------------------------*/
/*--------------------------------------Main-----------------------------------------*/
h1.profil{
    text-align: center;
    text-decoration: underline;
    font-size: 40px;
    line-height: 34px;
    background-color: rgba(100,100,100, 0.25);
}
h2{
    font-size: 28px;
    line-height: 34px;
    color: red;
    text-transform: uppercase;
    padding-left: 25px
}

p{
    margin: 50px;
}
.carre{
    /* margin-left: 125px;
    margin-right: 70% ; */
    text-align: left;
    float: right;
    width: 400px;
}
.test{
    width: 250px;
    margin-right: 143px;
    height: 200px;
}
/*--------------------------------------FIN-Main-----------------------------------------*/
footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:60px;
    width:100%;
}
footer p a {
    color: white;
}
.linkedin{
    width: 50px;
    height: 50px;
    top: 500px;
    display: block;
}

.projet-pro {
    display: flex;

    /* flex-direction: column; */
    padding-right: 10px; 
}
